#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button.details {
  background-color: green;
}

button.delete {
  background-color: red;
}

div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

div.form {
  border: 1px solid white;
  justify-content: center;
  gap: 2px;
}

div.player {
  border: 1px solid white;
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
}

label {
  padding: 10px;
}

a {
  padding: 8px;
}

img {
  width: 200px;
  height: 200px;
}

.puppy {
  
}