#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button.details {
  background-color: green;
}

button.delete {
  background-color: red;
}

div.form {
  border: 1px solid white;
  justify-content: center;
  gap: 2px;
}